# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Blender source files
*.blend
*.blend1
*.blend2

# Archives
*.7z
*.gz
*.zip
*.rar
*.tar
*.tar.gz

# Texture
texture/
public/textures/

# Report: version only source, PNG images and generated PDF
/report/**
!/report/
!/report/**/
!/report/**/*.png
!/report/**/*.tex
!/report/**/*.pdf
